main {
    margin: 15px;
    width: 96%; 
    border-radius: 5px; 
    border: 1px dashed black;
    border-style: dotted;
    background-color: #e6e6fa;
    padding: 10px;
}

p {
    text-indent: 20px;
}

.gallery {
    background-color: #909099;
    padding: 10px;
    width: 100%;    
    border-radius: 5px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wallpaper {
    width: 90%;
    margin: 15px;
    border: 1px;
    border-style: dotted;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url("img/Безымянный.jpg");
    padding: 100px;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .gallery-images {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

img {
    max-width: 100%;
    height: auto;
}
